@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-verde-escuro: #487F55;
  --color-verde-claro: #AFC78D;
  --color-azul: #266D99;
  --color-laranja: #DC824D;
  --color-cinza-claro: #6B6B6B;
  --color-dark: #1C1C1C;
  --color-light: #F5F5F5;
}

.link-nav {
  position: relative;
}

.link-nav::after {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-laranja);
  transition: width 0.3s ease;
}

.link-nav:hover::after {
  width: 100%;
}

